<h2>Votar por el mejor juego</h2>
<hr>
<div class="row">
    <div class="col">


        <div class="card-columns">
            <div class="card"
            *ngFor="let juego of juegos">
              <img [src]="juego.url" class="card-img-top" [alt]="juego.name">
              <div class="card-body bg-dark">
                <h5 class="card-title">{{juego.name}}</h5>
                <p class="card-text">Click aqui para votar por este juego</p>
                <button class="btn btn-primary btn-block">Votar</button>
              </div>
            </div>
        </div>

    </div>
</div>